*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width:100%;
     background-image:linear-gradient(to right,#f3e7b7ed,#edb473,#f1b8ea);
}
.topcontainer{
    height:45px;
    width:100%;
    background-color: rgb(247, 104, 104);
}
.nav{
    padding-left: 155px;
    padding-top: 5px;
    font-size: 1.5rem;
    text-align: center;
    color: black;
    font-family: "Hedvig Letters Serif", serif;
    display: flex;
    gap: 50px; 
}
.content1{
    padding-top: 105px;
    padding-bottom: 70px;
    padding-left: 95px;
    letter-spacing: 0.5rem;
}
.content2{
    padding-left:95px;
    padding-right:720px;
}
  @media screen and (max-width: 768px) {
    .custom-button {
        padding: 8px 30px; /* Adjust padding for smaller screens */
        font-size: 14px; /* Adjust font size for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .custom-button {
        padding: 6px 20px; 
        font-size: 12px; 
        margin-left: 0; 
    }
}
.container2{
    height: 120vh;
    width:100%;
     background-image:linear-gradient(to right,#f3e7b7ed,#edb473,#f1b8ea);
}
.secondpage{
    padding-bottom: 150px;
}

.text{
    width: 395px;
    text-align: center;
    background-color: rgb(247, 104, 104);
    color: black;
    padding: 28px 1px;
    padding-right: 10px;
    padding-left: 5px;
    font-size: 10px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    margin-left:780px;
    margin-bottom: px;
    margin-top: 350px;
    position: relative;
    float:bottom;
}
#heading1{
    padding-top: -25;
    padding-left: 45px;
    text-align: left;
    text-align: top;
    padding-bottom: 25px;
}
#heading2{
    text-align: center;
    text-align: left;
    padding-left: 45px;
}
#heading3{
    text-align: left;
    padding-left: 45px;
    padding-bottom: 25px;
}
#heading4{
    text-align: left;
    padding-left: 45px;
    margin-bottom: 75px;
}
arrw{
    padding-top: 50px ;
}
#imag1{
    padding-left: px;
    padding-top: 105px;
    float: left;
    width: 200px;
    height:250px;
    position: relative;
    left:200px;
    top:200px;
}
#imag2{
    padding-left: px;
    padding-top: px;
    padding-bottom: 35px;
    float: left;
    width: 200px;
    height:300px;
    position: relative;
    top:20px;
}
#imag3{
    padding-left: 35px;
    padding-top: px;
    padding-bottom: 50px;
    float: left;
    width: 300px;
    height:500px;
    position: relative;
    top:20px;
    margin-bottom: 30px;
}

